<div class="container-flex">
    <div class="row">
        <div class="tituto-home col-6">
            <h1>NUESTRA HISTORIA</h1>
        </div>
        <div class="texto-historia col-6">
            <p>
                Taqueria El Azteca empresa 100% Mexicana fundada en el año 2008, inspirado en desarrollar un nuevo
                concepto
                de Restaurante en taquería de alta calidad, con una idea fresca e innovadora que se distingue por su
                excelente aptitud y servicio, que pueden disfrutar en un ambiente vanguardista y acogedor, basado en una
                exitosa combinación de sus productos y sobre todo el secreto de su salsa, todo con calidad de primer
                nivel.
                <br>
                Rompe totalmente con el concepto de la taquería tradicional en México, Taqueria El Azteca, sin
                intención, se
                convirtió en un lugar de calidad para todos sus comensales.
                <br>
                Tenemos como objetivo principal brindar a los comensales productos de excelente calidad en sabor,
                variedad,
                con un menú inigualable combinándolo con una perfecta atención al cliente.
            </p>
        </div>
    </div>
</div>