<div class="container-fluid m-t-50">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/logo.ico" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Taco al Pastor</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <strong><span>$12.00</span></strong>
            </div>
          </div>
    </div>
</div>
