<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6"></div>
      <h1>Tradicionales de la casa</h1>
  </div>
  <div class="row">
    <!-- Tarjeta Tacos -->
      <div class="card border-dark col-sm-12 col-md-6 col-lg-4">
        <div class="card-header bg-dark">
          Taco al Pastor
        </div>
        <img src="assets/img/logo.ico" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">Taco Al Pastor</h5> -->
          <p class="card-text">Tacos al pastor marinado con la mejor marinado del mundo</p>
        </div>
        <div class="card-footer bg-dark">
          <p class="card-precio"> $ 12.0 </p>
        </div>
      </div>

      <div class="card bg-dark col-sm-12 col-md-6 col-lg-4">
        <div class="card-header bg-light border-light" style="color: black;">
          Especial de la Casa
        </div>
        <div class="card-body">
          <img src="assets/img/logo.ico" class="card-img-top" alt="...">
          <h5 class="card-title">Taco Al Pastos</h5>
          <p class="card-text" style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio qui magni autem placeat at
            pariatur inventore eum nemo officia, vero aliquid adipisci, enim quia esse quo vel, omnis quod sit.</p>
        </div>
        <div class="card-footer bg-light border-light">
          <p class="card-precio" style="color: black;"> $ 12.0 </p>
        </div>
      </div>

      <div class="card bg-dark col-sm-12 col-md-6 col-lg-4">
        <div class="card-header bg-light border-light" style="color: black;">
          Especial de la Casa
        </div>
        <div class="card-body">
          <img src="assets/img/logo.ico" class="card-img-top" alt="...">
          <h5 class="card-title">Taco Al Pastos</h5>
          <p class="card-text" style="color: white;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio qui magni autem placeat at
            pariatur inventore eum nemo officia, vero aliquid adipisci, enim quia esse quo vel, omnis quod sit.</p>
        </div>
        <div class="card-footer bg-light border-light">
          <p class="card-precio" style="color: black;"> $ 12.0 </p>
        </div>
      </div>

  

  </div>

  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="row">
        <div class="card border-dark col-md-12 col-lg-4">
          <div class="card-header bg-dark">
            Taco al Pastor
          </div>
          <img src="assets/img/logo.ico" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">Taco Al Pastor</h5> -->
            <p class="card-text">Tacos al pastor marinado con la mejor marinado del mundo</p>
          </div>
          <div class="card-footer bg-dark">
            <p class="card-precio"> $ 12.0 </p>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  <!-- fin: row -->
</div>
<!-- fin: container -->